{% extends 'base.html' %}

{% load static %}

{% block title %}{{ courseobj.course_title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/video-js.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/videoapp/video-player.css' %}">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/video.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/videojs-ie8.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/videoapp/video-player.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="video-player-container">
                <div style="width:900px;height: 550px;">
                    <video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="900"
                           height="550" data-setup='{"example_option":true}' onended="time_function()">
                        <source src="/static/{{ p_video.video_upload }}" type='video/mp4'/>
                        <source src="/static/{{ p_video.video_upload }}" type='video/webm'>
                        <source src="/static/{{ p_video.video_upload }}" type='video/ogg'>
                        <input id="click_course" type="text" value="{{ p_video.course_id }}" hidden>
                        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a
                            web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports
                                HTML5 video</a></p>
                    </video>
                    <input class="cover" hidden value="{{ courseobj.course_cover }}">
                    <input id="aa" type="text" value="0" hidden>
                    <input id="bb" type="text" value="{{ CourseTitle }}" hidden>
                </div>
            </div>
            <div class="js-task-list-section">
                <ol class="js-study-task-list">
                    {% for video in videoobj %}
                        <li class="sub-section">
                            <a href="{% url 'video:player' %}?course={{ video.course_id }}&videoid={{ video.id }}"
                               data-anchor="{% url 'video:player' %}?course={{ video.course_id }}&videoid={{ video.id }}">
                                <h5>
                                    {{ forloop.counter }}.&nbsp;{{ video.video_title }}
                                </h5>
                            </a>
                            <div>
                                <span class="task-item--suffix">{{ video.video_time }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}